<section>
  <p>There are some instructions which would help...</p>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id='a1' data-toggle="collapse" data-parent="#accordion" href="#collapse1">Search and Add Friends</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">Give a head start, please find your friends, add them...
          <br>
          <br>
          <p>Find the Search Bar <input placeholder='Search Users'/> at top left corner...</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id='a2' data-toggle="collapse" data-parent="#accordion" href="#collapse2">Check Your Activities</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">Check your activity list...
          <a href='/activities'>Check My Activities</a>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id='a3' data-toggle="collapse" data-parent="#accordion" href="#collapse3">Organise An Activity</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">You can also orgainse your own acticity...
          <a href='/activities/create'>Create An Activity</a>
        </div>
      </div>
    </div>
  </div>
</section>

