<section>
  <br>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id='a1' data-toggle="collapse" data-parent="#accordion" href="#collapse1">Search and Add Friends</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">Give a head start, please find your friends, add them...
          <img src='/modules/core/client/img/1.jpg' width='100%' />
          <p>Find the Search Bar <input placeholder='Search Users'/> at top left corner...</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id='a2' data-toggle="collapse" data-parent="#accordion" href="#collapse2">Check Your Activities</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">Check your activity list...
          <img src='/modules/core/client/img/2.jpg' width='100%' />
          <a href='/activities'>Check My Activities</a>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id='a3' data-toggle="collapse" data-parent="#accordion" href="#collapse3">Organise An Activity</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">You can also orgainse your own acticity...
          <img src='/modules/core/client/img/3.jpg' width='100%' />
          <a href='/activities/create'>Create An Activity</a>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a id='a4' data-toggle="collapse" data-parent="#accordion" href="#collapse4">Start your journey</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">Thanks for completing your introduction session, and you are able to start your journey...
          <img src='/modules/core/client/img/landing.jpg' width='100%' />
          <a href='/'>Go Home</a>
        </div>
      </div>
    </div>
  </div>
</section>

