<section>
  <div class="page-header">
    <h1>Activities</h1>
  </div>
  <ul id="myTab" class="nav nav-tabs">
        <!-- <li >
            <a href="/activities/upcoming" data-toggle="tab">Upcoming Activities</a>
        </li> -->
        <li class='active'>
            <a href="/activities/accepted" >Accepted Activities</a>
        </li>
        <li>
            <a href="/activities/declined" >Declined Activities</a>
        </li>
        <li>
            <a href="/activities/pending" >Pending Activities</a>
        </li>
        <!-- <li>
            <a href="/activities/history" >History Activities</a>
        </li> -->
  </ul>
  <table class="table table-bordered">
    <tr class="info">
        <th>Activity Name</th>
        <th>Start Time</th>
        <th>Organiser</th>
        <th>Action</th>
    </tr>
    <tr ng-repeat='activity in activities'>
        <td>{{activity.activityName}}</td>
        <td>{{activity.startTime}}</td>
        <td>{{activity.user}}</td>
        <td><a href='/activities/{{activity._id}}'>View</a></td>
    </tr>

  </table>


    <div class="list-group">
 <!--    <a data-ng-repeat="activity in vm.activities"
       data-ui-sref="activities.view({ activityId: activity._id })"
       class="list-group-item">

      <small class="list-group-item-text">
        <span data-ng-if="activity.activityName" data-ng-bind="activity.activityName" style="font-size:30px"></span>
        <br>
        Posted on
        <span data-ng-bind="activity.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="activity.user" data-ng-bind="activity.user.firstName"></span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="activity.name"></h4>
    </a> -->
  </div>

  <div class="alert alert-warning text-center" data-ng-if="activities.length==0">
    No accepted invitations?
  </div>
<!-- <a data-ui-sref="activities.create">create one</a> -->


<a href="/activities"><button type="button" class="btn btn-default btn-lg">Back</button></a>

</section>
