<section>
  <div class="page-header">
    <h1>Activities</h1>
  </div>
  <ul id="myTab" class="nav nav-tabs">
        <!-- <li >
            <a href="/activities/upcoming" data-toggle="tab">Upcoming Activities</a>
        </li> -->
        <li class='active'>
            <a href="/activities/accepted" data-toggle="tab">Accepted Activities</a>
        </li>
        <li>
            <a href="/activities/declined" data-toggle="tab">Declined Activities</a>
        </li>
        <li>
            <a href="/activities/pending" data-toggle="tab">Pending Activities</a>
        </li>
        <!-- <li>
            <a href="/activities/history" data-toggle="tab">History Activities</a>
        </li> -->
  </ul>
  <table class="table table-bordered">
    <tr class="info">
        <th>Activity Name</th>
        <th>Start Time</th>
        <th>Organiser</th>
        <th>Action</th>
    </tr>
    <tr ng-repeat='activity in activities'>
        <td>{{activity.activityName}}</td>
        <td>{{activity.startTime}}</td>
        <td>{{activity.user}}</td>
        <td><a href='/activities/{{activity._id}}'>View</a></td>
    </tr>

  </table>

<!--   <div ng-repeat="activity in vm.activities">
    {{activity}}

  </div> -->

   <!--  <ion-list>

      <ion-item ng-repeat="task in taskList | orderBy: 'dueDate'" class="item item-icon-left" href={{getHrefForTaskOrDefect(task)}}>
        <i class={{getClassForTaskOrDefect(task)}}></i>
        <p ng-if="!task.isOverdue">{{getNameForTaskOrDefect(task)}} </p>
        <p ng-if="task.isOverdue"><span style="color:red">{{getNameForTaskOrDefect(task)}}</span></p>
        <p ng-if="!task.isOverdue">Due Date: {{task.dueDate | dateFilter}} </p>
        <p ng-if="task.isOverdue"><span style="color:red">Due Date: {{task.dueDate | dateFilter}} </span></p>
      </ion-item>

      <ion-item ng-show="notaskanddefect" style="text-align:center;">
        <span >no tasks and defects</span>
      </ion-item>
    </ion-list>
 -->



<a href="/activities"><button type="button" class="btn btn-default btn-lg">Back</button></a>

</section>
