<section>
  <div class="page-header">
    <h1>Activities</h1>
  </div>
<ul id="myTab" class="nav nav-tabs">
        <li>
            <a href="upcoming" data-toggle="tab">Upcoming Activities</a>
        </li>
        <li  class="active">
            <a href="accepted" data-toggle="tab">Accepted Activities</a>
        </li>
        <li>
            <a href="declined" data-toggle="tab">Declined Activities</a>
        </li>
        <li>
            <a href="pending" data-toggle="tab">Pending Activities</a>
        </li>
        <li>
            <a href="history" data-toggle="tab">History Activities</a>
        </li>

    </ul>
    <table class="table table-bordered">
                <!-- On rows -->
                <tr class="info">
                    <th>Activity Name</th>
                    <th>Start Time</th>
                    <th>Organiser</th>
                    <th>Action</th>
                </tr>
                <tr class="success">
                    <td>accepted</td>
                    <td>accepted</td>
                    <td>accepted</td>
                    <td>accepted</td>
                </tr>
                <tr class="success">
                    <td>accepted</td>
                    <td>accepted</td>
                    <td>accepted</td>
                    <td>accepted</td>
                </tr>
                <tr class="success">
                    <td>accepted</td>
                    <td>accepted</td>
                    <td>accepted</td>
                    <td>accepted</td>
                </tr>
                <tr class="success">
                    <td>accepted</td>
                    <td>accepted</td>
                    <td>accepted</td>
                    <td>accepted</td>
                </tr>


                <!-- On cells (`td` or `th`) -->

            </table>
            <a href="/activities"><button type="button" class="btn btn-default btn-lg">Back</button></a>

</section>
