<section class="row">
    <div class="page-header">
        <div class="row">
          <div class="col-md-6">
            <h1 ng-bind="user.username"></h1>
          </div>
        </div>
    </div>
<table class="table table-bordered">
    <!-- On rows -->
    <tr >
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
    <tr ng-repeat='user in friends' ng-click='goToUserPage(user._id)'>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}<button type="button" class="btn btn-danger btn-sm deleteButton" ng-click='deletFriend(user._id,user.displayName)'>X</button></td>
    </tr>
</table>
</section>