body {
  padding: 0px;
  height:100%;
  font-family: Oswald-Regular-Roman, Tahoma, sans-serif !important;
  letter-spacing: 0.8px;
}
.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

.linealign input{
  width: 200px;
}

.form-group button{
  display: block;
  border: 1px solid black;

}

.clear{
  clear: both;
}

.classparticipant{
  display: inline-block;
}

.form-group button{
  display: inline-block;
}

.jumbotron{
  background-image: url(http://image5.tuku.cn/pic/tiyushijie/parent-offspring_bicycle_a044/052.jpg);
  background-size:cover;
}

.jumbotron {
    margin-top: 20px;
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
    /*margin-bottom: 30px;*/
    color: inherit;
    background-color: #eee;
}
.sb-page-header .container{
  height:620px;
  width:121%;
  margin-top:-18px;
  margin-left:-120px;
  background-image:url('/modules/core/client/img/landing.jpg');
  background-size:cover;
}
.sb-page-header .container p{
  margin-top:30% !important;
  text-align: center;
  color:white;
  font-size:5em;
}
.navbar-default {
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: rgb(121, 234, 155);

}
.navbar-default a {
  color:white !important;
}
.dropdown-menu > li > a{

  color:#333 !important;
}
.searchbar .input-group *{
  margin-top:12px;
  display:inline-block;
}
.searchbar .input-group input{

  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  border-color: #a8acbc #babdcc #c0c3d2;

}
.ng-scope{
  margin-top:0px !important;
}
.ng-scope p{
  margin-top:0px !important;
}
.searchbar .results {
  position: absolute;
  top: 35px;
  width: 200px;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0;
  margin: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #cbcfe2 #c8cee7 #c4c7d7;
  border-radius: 3px;
  background-color: white;
  opacity: 0.8;

}
.searchbar .results li{
  width:100%;
  font-size:1.0em;
}
.searchbar .results li:hover{

  background-color: rgba(100,100,100,0.5);
  cursor: pointer;

}
.searchbar .results span{
  padding-left: 7px;
}
.js-example-basic-multiple{
  width:125% !important;
  height:60px !important;
}
.deleteButton{

  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0;
  padding-bottom: 0;
  float: right;
  margin-right: 20px;
  visibility: hidden;
}
.table-bordered tr:hover .deleteButton{
   visibility: visible;
}
.table-bordered tr:hover{
  background-color: #C6EAD1;
   visibility: visible;
}
.panel-default > .panel-heading {
    background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
    background-image: linear-gradient(to bottom, rgb(121, 232, 121) 0%, rgba(255, 255, 255, .15) 100%);
    background-repeat: repeat-x;
}
@font-face{
  font-family:"Oswald-Light-Italic";
  src:url("/fonts/Oswald-Light-Italic/Oswald-LightItalic.ttf");
}
@font-face{
  font-family:"Oswald-Regular-Italic";
  src:url("/fonts/Oswald-Regular-Italic/Oswald-RegularItalic.ttf");
}
@font-face{
  font-family:"Oswald-Bold-Italic";
  src:url("/fonts/Oswald-Demi-Bold-Italic/Oswald-Demi-BoldItalic.ttf");
}
@font-face{
  font-family:"Oswald-Light-Roman";
  src:url("/fonts/Oswald-Light-Roman/Oswald-Light.ttf");
}
@font-face{
  font-family:"Oswald-Regular-Roman";
  src:url("/fonts/Oswald-Regular-Roman/Oswald-Regular.ttf");
}
@font-face{
  font-family:"Oswald-Bold-Roman";
  src:url("/fonts/Oswald-Demi-Bold-Roman/Oswald-DemiBold.ttf");
}
